{% extends "main.html" %}

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<h3>About Cats on Skis</h3>

<p>
We love Cats on Skis! This is the absolute best place to find information about cats on skis.
</p>

<h3>Your Authors</h3>

<p>
<figcaption style ="color:blue" >Slalom Sammy</figcaption>
<br>
<img src="{{ url_for('images', image='slalom-sammy') }}">
</p>

<p>
    <figcaption style ="color:blue">Nefarious Purpuss</figcaption>
    <br>
    <img src="{{ url_for('images', image='random-cat-skiing') }}">
    </p>
{% endblock %}

